<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hoc react</title>
    <script src="js/react.min.js"></script>
    <script src="js/react-dom.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <link rel="stylesheet"
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
    <div id="container" class="container"></div>
    <div id="root"></div>
    <div id="comments"></div>
    <script type="text/babel" src="app/home.js"></script>
</body>
</html>